h1 {
	text-align: center;
}

#outer-container {
	width: 800px;
	margin: auto;
}

#left-container{
	display: inline;
	float: left;
}

#right-container{
	width: 390px;
	display: inline;
	float: left;
	padding-left: 10px;
	text-align: center;
}

#map {
	height: 400px;
	width: 400px;
}

.large {
	font-size: 30pt;
}