h1 {
	text-align: center;
}

button {
	background-color: #d3d3d3
}

#outer-container {
	width: 800px;
	margin: auto;
}

#upper-container {
	margin-bottom: 10px;
	border: 1px solid #d3d3d3;
	padding: 10px;
}

#left-container{
	display: inline;
	float: left;
}

#right-container{
	width: 390px;
	display: inline;
	float: left;
	padding-left: 10px;
	text-align: center;
}

#map {
	height: 400px;
	width: 400px;
}

.large {
	font-size: 30pt;
}