#container {
	width: 800px;
	margin: auto;
}

h1 {
	text-align: center;
}

#map {
	height: 400px;
	width: 400px;
}

#coordinatesInfo {
}

#locationMap {
	display: inline;
	float: left;
}

#weatherInfo {
	display: inline;
	float: left;
	padding: 10px;
}